.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/
.conda/
mlops_a4/
*.log
*results.json
**/outputs/*
**/data/*
*.parquet
*.csv
.vscode/
.idea/
notebooks/
kubeflow/
!kubeflow/components/
!kubeflow/components/**
walkthrough.md
*.md
docker-compose.yml
